*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(protruding-squares.svg);
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 10px;
    display: grid;
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
}

.navbar .logo img {
    height: 70px;
    margin-right: 10px;
    width: 70px;
}

.navbar .logo .text {
    font-size: 30px;
    font-weight: bold;
    color: #003366;
}

.navbar .logo .subtext {
    font-size: 17px;
    color: #666;
}

.black-bg{
    background-color: #000;
    display: flex;
    position: absolute;
    align-items: center;
    width: 60%;
    height: 70px;
    padding: 10px;
    justify-content: flex-start;  
    margin-left: 360px;
}

.black-bg .links a {
    color: #fff;
    border-right: 2px;
    border-right-style: solid;
    border-right-color: #fff;
    margin: 10px;
    font-size: 20px;
    padding: 0 30px 0 30px;
}

.black-bg .links .A{
    border-right: 0px;
}

.navbar .profile{
    background-color: rgb(220, 20, 20);
    display: flex;
    position: absolute;
    align-items: center;
    height: 70px;
    padding: 10px;
    width: 250px; 
    margin-left: 940px;
}

.profile .profile-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.profile .nome{
    color: #fff;
}

.profile .status{
    color: #fff;
}